<%= render :partial => 'action_menu' %>
<h2><%=l(:label_workflow)%></h2>

<p><%=l(:text_workflow_edit)%>:</p>

<%= form_tag({}, :method => 'get', :local => true) do %>
<p>
	<label><%=l(:label_role)%>:</label>
	<%= select_tag 'role_id', options_from_collection_for_select(@roles || [], "id", "name", @role && @role.id) %>

  <label><%=l(:label_tracker)%>:</label>
	<%= select_tag 'tracker_id', options_from_collection_for_select(@trackers || [], "id", "name", @tracker && @tracker.id) %>
  
  <%= hidden_field_tag 'used_statuses_only', '0' %>
  <label><%= check_box_tag 'used_statuses_only', '1', @used_statuses_only %> <%= l(:label_display_used_statuses_only) %></label>
</p>
<p>
<%= submit_tag l(:button_edit), :name => nil %>
</p>
<% end %>


<% if @tracker && @role && (@statuses || []).any? %>
<%= form_tag({}, :id => 'workflow_form', :local => true ) do %>
<%= hidden_field_tag 'tracker_id', @tracker.id %>
<%= hidden_field_tag 'role_id', @role.id %>
<div class="autoscroll">
<table class="list">
<thead>
	<tr>
		<th class="text-left"><%=l(:label_current_status)%></th>
		<th class="text-center" colspan="<%= (@statuses || []).length %>"><%=l(:label_new_statuses_allowed)%></th>
	</tr>
	<tr>
		<td></td>
		<% (@statuses || []).each do |new_status| %>
		<td width="<%= 75 / (@statuses || [1]).size %>%" class="text-center">
			<%= link_to_function(icon_tag('toggle_check'), "toggleCheckboxesBySelector('input.new-status-#{new_status.id}')",
	                                              			:title => "#{l(:button_check_all)}/#{l(:button_uncheck_all)}") %>
			<%= new_status.name %>
		</td>
		<% end %>
	</tr>
</thead>
<tbody>
	<% (@statuses || []).each_with_index do |old_status, index| %>
	<tr class="<%= cycle("odd", "even") %>">
		<td>
			<%= link_to_function(icon_tag('toggle_check'), "toggleCheckboxesBySelector('input.old-status-#{old_status.id}')",
			                                              			:title => "#{l(:button_check_all)}/#{l(:button_uncheck_all)}") %>
			
			<%= old_status.name %>
		</td>
		<% new_status_ids_allowed = old_status.find_new_statuses_allowed_to([@role], @tracker).collect(&:id) -%>
		<% (@statuses || []).each do |new_status| -%>
		<td class="text-center">
			<%= check_box_tag "issue_status[#{ old_status.id }][]", new_status.id, new_status_ids_allowed.include?(new_status.id),
						:class => "old-status-#{old_status.id} new-status-#{new_status.id}" %>			
		</td>
		<% end -%>
	</tr>
	<% end %>
</tbody>
</table>
</div>
<p><%= check_all_links 'workflow_form' %></p>

<%= submit_tag l(:button_save) %>
<% end %>
<% end %>

<% html_title(l(:label_workflow)) -%>

<% if @role && @tracker %>
<div class="workflow-visualization">
  <h3>Workflow Visualization</h3>
  <div id="workflow-graph">
    <% begin %>
      <%= image_tag(generate_graph(@role, @tracker), :alt => "Workflow Graph", :class => "workflow-graph") if generate_graph(@role, @tracker).present? %>
    <% rescue => e %>
      <p class="warning">Unable to generate workflow visualization: <%= e.message %></p>
    <% end %>
  </div>
</div>
<% end %>
